* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #2e2e2e;
}


.main-div {
  height: 100px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px;
}

.main #clock{
  font-family: poppins;
  font-weight: bolder;
  padding: 20px;
  font-size: 50px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}